@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.button {
    color: #FFF;
    background: #000;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 6px;
    transition: transform .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:active {
    transform: scale(0.9);
}