@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.header {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr max-content max-content;
    justify-items: stretch;
    align-items: center;
    width: 96%;
    margin: 0 2%;
    margin-top: 36px;
    padding: 32px 0;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 2px solid #000;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__burger {
    position: fixed;
    left: 5%;
    width: 50px;
    height: 40px;
    background: gray;
    border-radius: 10%;
    z-index: 1;
    display: none;
    transition: background-color .4s ease;
}

.header.header_active .header__burger {
    background: #FFF;
}

.header__burger-content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.burger__lines {
    display: block;
    width: 40px;
    height: 4px;
    background: #000;
    border-radius: 20px;
    transition: transform .4s ease, color .4s ease, opacity .4s ease;
}

.burger__lines:nth-child(1) {
    transform:rotate(45deg) translateY(5px) ;
}

.burger__lines:nth-child(2) {
    opacity: 0;
}

.burger__lines:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px);
}

.header.header_active .burger__lines:nth-child(1) {
    transform: translateY(-5px);
}

.header.header_active .burger__lines:nth-child(2) {
    opacity: 1;
}

.header.header_active .burger__lines:nth-child(3) {
    transform: translateY(5px);
}

.header__type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.header__logo {
    justify-self: start;
    transition: transform .2s ease;
}

.header__logo:hover {
    transform: scale(1.1);
}

.header__logo:active {
    transform: scale(1);
}

.image__logo {
    overflow: hidden;
    object-position: center;
    padding-right: 1vw;
    cursor: pointer;
}

.header__menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    text-align: center;
}

.menu-links {
    color: #000;
    text-decoration: none;
    font-size: calc(10px + 5 * (100vw / 1440));
    font-weight: 400;
    transition: color .2s ease;
}

.menu-links:hover {
    color: #1987D7;
}

.menu-links:active {
    color: #000000;
}

.block__buttons {
    justify-self: start;
    padding-left: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    border-left: 2px solid #000;
}

.buttons__round {
    background: #FFF;
    width: calc(20px + 14 * (100vw / 1440));
    height: calc(20px + 14 * (100vw / 1440));
    border-radius: 50%;
    font-size: calc(10px + 3 * (100vw / 1440));
    font-weight: 400;
    padding: 2%;
    border: 1px solid #000000;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease, transform .2s ease
}

.header__buttons-block {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.buttons__round:hover {
    color: #FFF;
    background-color: #000;
}

.buttons__round:active {
    transform: scale(0.9);
}

@media (max-width:960px) {

    .header {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: end;
    }

    .header__type {
        background: gray;
        position: fixed;
        max-width: 960px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: grid;
        grid-template-columns: auto;
        padding: 30px;
        transition: transform .4s ease;
    }

    header.header_active .header__type {
        transform: translateX(-150%);
    }

    .header__menu {
        display: grid;
        grid-template-columns: auto;
        margin-top: 20%;
    }

    .menu-links {
        font-size: 18px;
    }

    .header__button {
        margin-top: 10%;
    }

    .header__buttons-block {
        display: none;
    }


    .header__logo {
        justify-self: end;
    }

    .header__burger {
        display: flex;
        justify-content: center;
        align-items:center;
    }
}