.main {
    display: grid;
    justify-content: center;
}

.block-1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

.text__first {
    margin-left: 5%;
    justify-self: start;
    margin-top: 135px;
    font-size: calc(20px + 70 * (100vw / 1440));
    color: #000000;
    font-weight: 500;
    max-width: 532px;
    width: 100%;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
}

.image__first {
    justify-self: center;
    margin-top: 35px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    padding: 0 2%;
}

.img__content {
    width: 100%;
    height: 100%;
}

.what__we-do {
    padding: 5% 0;
    margin: 0 2%;
    margin-top: 90px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-items: stretch;
    gap: 3%;
}

.text__first-two {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: calc(18px + 30 * (100vw /1440));
    border-right: 2px solid #000;
}

.types__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}

.type__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type__block:nth-child(1),
.type__block:nth-child(3) {
    border-right: 2px solid #000;
}

.text__type-block {
    max-width: 420px;
    width: 100%;

}

.text__type-block:nth-child(1),
.text__type-block:nth-child(2) {
    padding: 0 10%;
}

.maintext__type-block {
    font-weight: 500;
    font-size: calc(12px + 15 * (100vw /1440));
    font-family: 'Syne', sans-serif;
}

.lighttext__type-block {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: calc(10px + 10 *(100vw / 1440));
}

.image__type-blocks {
    overflow: hidden;
    object-position: center;
    object-fit: cover;

}

.image__blocks {
    width: 100%;
    height: 100%;
}



@media (min-width:1440px) {
    .text__first {
        font-size: 100px;
    }

    .text__first-two {
        font-size: 32px;
    }

    .maintext__type-block {
        font-size: 32px;
    }

    .lighttext__type-block {
        font-size: 20px;
    }

}

@media (max-width:1170px) {
    .what__we-do {
        grid-template-columns: auto;
        justify-items: center;
        gap: 30px;
    }

    .text__first-two {
        border-right: none;
    }
}

@media (max-width:600px) {

    .text__first {
        margin-left: 0;
        margin-top: 50px;
        text-align: center;
        justify-self: center;
    }

    .what__we-do {
        margin-top: 30px;
        border-bottom: none;
    }

    .type__block:nth-child(1),
    .type__block:nth-child(3) {
        border-right: none;
    }

    .lighttext__type-block {
        width: 200px;
        text-align: center;
        padding-top: 10px;
        border-left: 2px solid #000;
    }

    .text__type-block {
        text-align: center;
    }

    .maintext__type-block {
        font-size: 18px;
        border-right: 2px solid #000;
        width: 100%;
        padding: 10px;
    }

    .types__blocks {
        grid-template-columns: auto;
        gap: 20px;
    }

    .type__block {
        border-bottom: 2px solid #000;
        padding: 10px;
    }

    .image__blocks {
        padding: 10px;
        padding-top: 50px;
    }

    .img__content {
        display: none;
    }
}