@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');


.main {
    display: grid;
    justify-content: center;
}

.block-2 {
    padding: 2%;
    display: grid;
}

.type__first-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    border-bottom: 2px solid #000;
}

.blockofImages__block-2 {
    padding: 3% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.firstimage__block-2 {
    margin-top: 5%;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.text__block-2 {
    max-width: 530px;
    margin-right: 5%;
    width: 100%;
    border-right: 1px solid #000;
}

.maintext__block-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: calc(30px + 24 * (100vw / 1440));
}

.lighttext__block-2 {
    font-family: 'Sora';
    font-weight: 300;
    font-size: calc(14px + 10 * (100vw / 1440));
}

.afterimages__block-2 {
    margin: 2% 0;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}

.secondimage__block-2 {
    max-width: 536px;
    width: 100%;
}

.textafterimage1__block-2 {
    font-size: calc(14px + 10 * (100vw / 1440));
    font-family: 'Syne';
    color: #191919;
    font-weight: 400;
}

.textafterimage2__block-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: calc(10px + 5 * (100vw / 1440));
    color: #191919;
}

.secondimage__block-2 {
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}

.image__blocks-2 {
    width: 100%;
    height: 100%;
}







@media (min-width:1440px) {
    .maintext__block-2 {
        font-size: 54px;
    }

    .lighttext__block-2 {
        font-size: 24px;
    }

    .textafterimage1__block-2 {
        font-size: 24px;
    }

    .textafterimage2__block-2 {
        font-size: 15px;
    }
}

@media (max-width:600px) {
    .type__first-2 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .text__block-2 {
        margin: 0;
        border: none;
        text-align: center;
    }

    .blockofImages__block-2 {
        grid-template-columns: auto;
        gap: 0;
    }

    .afterimages__block-2 {
        margin: 2%;
    }

}